/* Create.css */
.create-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .task-input {
    flex-grow: 1;
    padding: 10px;
    border: 50px solid rgb(33, 114, 236)c;
    margin-right: 10px;
    font-size: 16px;
    width: 230px;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: rgb(43, 17, 208);
    margin-left: 10px;
    font-size: 14px;
  }